/*---------------- General --------------*/
*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
section {
    width: 360px;
    height: 590px;
    text-align: center;
}
.flex{
    display: flex;
}
.oculto{
    display: none;
}
.block{
    display: inline-block;
}
.splash{
    background: #394b8b;
}
h1{
    font-size: 45px;
    color: white;
    margin: auto;
}
.H1Splash{
    background-color: #35b2a0;
    border-radius: 10px;
    padding: 5px 10px;
}
h2{
    font-size: 35px;
    color: white;
    margin-bottom: 50px;
}
.Icon{
    width: 35px;
    height: 35px;
    margin: 10px;
    position: fixed;
    cursor: pointer;
}
.peliSplash, .quizSplash{
    color: white;
    display: flex;
}
.quiz,.peli{
    color: white;
}
.ContenedorSplash{
    display: flex;
}
.contenedor,.ContenedorSplash{
    margin: auto;
    font-size: 30px;
    padding: 5px 5px;
}
.quizSplash{
    height: 37px;
    width: 80px;
}
.Cuadro{
    height: 35px;
    width: 38px;
    background-color: #35b2a0;
    margin: 1px;
}

/*---------------- Inicio --------------*/
.inicio {
    background: #394b8b;
}

/*---------------- Botones --------------*/
.button{
    width: 250px;
    margin-top: 10px;
    border-radius: 50px;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 30px;
    border: solid white 2px;
}
.btn_Niveles{
    background-color: #35b2a0;
    color: white;
}
.btn_Jugar{
    background-color: #35b2a0;
    margin-top: 50px;
}
.btn_Instrucciones{
    background-color: #f5d159;
}
.btn_Créditos{
    background-color: #e96550;
}

.btn_Peliculas,.btn_Series{
    background-color: #35b2a0;
    color: white;
}
.btn_Selec{
    border-radius: 10px;
    width: 130px;
    height: 130px;
    margin: auto;
}
.btnSeleccion{
    height: 400px;
}


/*---------------- Categoria --------------*/

.categoria{
    background: #394b8b;
}


/*---------------- Nivel --------------*/

.nivel{
    background:#394b8b;
}

/*---------------- Seleccion --------------*/
.seleccion{
    background: #394b8b;
}

/*---------------- Juego --------------*/
.juego{
    background: #394b8b; 
}
#imgNivel{
    border-radius: 10px;
    border: solid 2px white;
}

#letras{
    margin-top: 10px;
}
#nomPelicula{
    margin-top: 15px;
}
.cuadrados{
    background-color: #35b2a0;
    width: 40px;
    height: 35px;
    margin: 0px 3px;
    border: 2px solid whitesmoke;
    border-radius: 10px;
}
.cuadradosLetras{
    width: 40px;
    height: 35px;
    margin: 0px 3px;
    border: 3px solid #35b2a0;
    border-radius: 10px;
    background-color: whitesmoke;    
}

/*---------------- Final --------------*/
.final{
    background: #6dbe45;
}

/*---------------- Instrucciones --------------*/
.instrucciones{
    background: #f3ba08;
}
.CuadroInstru{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 38px;
    background-color: #F5D159;
    margin: 1px;
    border-radius: 10px;
    border: 1px solid white;
}
.SpanInstru{
    display: flex;
    align-items: center;
    justify-items: center;
    margin: 30px 10px;
}
.Instru{
    font-size: 18px;
    width: 250px;
    margin: 0px 10px;
    color: black;
}

/*---------------- Creditos --------------*/
.creditos{
    background: #d53e2b;
}
.SpanCreditos{
    font-size: 18px;
    margin: 5px;
    padding: 0px 5px;
}
.Nosotros{
    margin-top: 10px;
    margin-bottom: 0;
}
.Imagen{
    padding: 10px;
    display: flex;
    align-items: center;
    margin: auto;
}
span{
    margin: auto;
    color: white;
}