section{
    width:360px;
    height:550px;
    text-align: center;
}
#splash{
    background: #494cbe;
    display: flex;
}
h1{
    display: block;
    margin: auto;
    font-size: 45px;
}
.Peli{
    color: #e96550;
}
.Quiz{
    color: white;
}
#inicio{
    background: #494cbe;
    display: flex;
}
.Botones{
    position: absolute;
}
.Button{
    display: block;
}
.Jugar{
    background-color: #e96550;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

}
#categoria{
    background: #d53e2b;
}
#nivel{
    background:violet;
}
#seleccion{
    background:orangered;
}
#juego{
    background: orange;
}
#final{
    background: yellowgreen;
}
#instrucciones{
    background: blue;
}
#creditos{
    background: green;
}
