/*---------------- General --------------*/

section{
    width:360px;
    height:550px;
    text-align: center;
}
#splash{
    background: #494cbe;
    display: flex;
}

h1{
    display: block;
    margin: auto;
    font-size: 45px;
    color: white;
}
h2{
    display: block;
    margin: auto;
    font-size: 35px;
    color: white;
    margin-bottom: 50px;
}

.Peli{
    color: #e96550;
}
.Quiz{
    color: white;
}
.Contenedor{
    margin: auto;
}

/*---------------- Inicio --------------*/
.inicio {
    background: #494cbe;
    display: flex;
}
/*.Oculto{
    display: none;
}*/


/*---------------- Botones --------------*/
.Botones{
    margin: auto;  
}
.Button{
    display: block;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-radius: 10px;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    cursor: pointer;
}

.Jugar{
    background-color: #e96550;
    border: none;
    margin-top: 50px;
}
.Instrucciones{
    background-color: #f5d159;
    border: none;
}
.Créditos{
    background-color: #35b2a0;
    border: none;
}

.Peliculas,.Series{
    border: solid #e96550 5px;
    color: black;
}







/*---------------- Categoria --------------*/

.categoria{
    background: #d53e2b;
    display: flex;
}


/*---------------- Nivel --------------*/

#nivel{
    background:violet;
}


/*---------------- Seleccion --------------*/
#seleccion{
    background:orangered;
}

/*---------------- Juego --------------*/
#juego{
    background: orange;
}



/*---------------- Final --------------*/
#final{
    background: yellowgreen;
}

/*---------------- Instrucciones --------------*/
#instrucciones{
    background: blue;
}

/*---------------- Creditos --------------*/
#creditos{
    background: green;
}
