section{
    width:360px;
    height:550px;
    text-align: center;
}
#splash{
    background: #494cbe;
    display: flex;
}
h1{
    display: block;
    margin: auto;
    font-size: 45px;
}

.Peli{
    color: #e96550;
}
.Quiz{
    color: white;
}
.inicio {
    background: #494cbe;
    display: flex;
}
/*.Oculto{
    display: none;
}*/
.Contenedor{
    margin: auto;
}
.Botones{
    margin: auto;  
}
.Button{
    display: block;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
.Jugar{
    background-color: #e96550;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    cursor: pointer;
    margin-top: 50px;

}
.Instrucciones{
    background-color: #f5d159;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    cursor: pointer;
}
.Créditos{
    background-color: #35b2a0;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    cursor: pointer;
}

#categoria{
    background: #d53e2b;
}
#nivel{
    background:violet;
}
#seleccion{
    background:orangered;
}
#juego{
    background: orange;
}
#final{
    background: yellowgreen;
}
#instrucciones{
    background: blue;
}
#creditos{
    background: green;
}
